.header {
  background-color: #333;
  padding: 0.05rem;
  display: flex;
  h1 {
    color: white;
    padding-left: 20px;
    padding-bottom: 0px;
    font-size: 20px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    ul {
      list-style: none;
      display: flex;
      gap: 5rem;
    }
    li {
      display: inline;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
