.header {
  background-color: #333;
  padding: 1.5rem;
  display: flex;
  h1 {
    color: white;
    padding-left: 20px;
    padding-bottom: 0px;
    font-size: 30px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    ul {
      list-style: none;
      display: flex;
      gap: 5rem;
    }
    li {
      display: inline;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0;
}

.slot-container {
  display: flex;
  padding: 50px;

}

.slot-left, .slot-right {
  border: #fff 1px solid;
  width: 50%;
  flex: 1;
  min-width: 0;
  overflow: auto;
  height: 40vw;
}
