.slot-container {
  display: flex;
  padding: 10px 10px 10px 10px;
}

.slot-left {
  display: flex;
  flex: 2;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.slot-right {
  display: flex;
  flex: 1;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-left: none;
  margin-right: 5px;
  min-width: 600px;
}

.data-table {
  width: 100%;
  height: 100%;
}

a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

td {
  font-size: 14px;
}

a:hover,
a:focus {
  color: #9e9eff;
  text-decoration: none;
}

a:visited {
  color: #9e9eff;
}

a:active {
  color: #9e9eff;
}

.p-fileupload-choose-button {
  max-height: 40px;
}

button {
  max-height: 40px;
}

.party-entry {
  .p-inputnumber-input {
    max-width: 100px;
  }
}

.party-xp-container {
  margin: 8px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
}


@media (max-width: 1200px) {
  .slot-right {
    min-width: 400px;
  }
}

@media (max-width: 500px) {
.party-xp-container {
    margin-top: 20px ;
    display: flex;
    flex-direction: column;
  }
}

.add-button {
  max-height: 28px;
}

span,
input,
.p-inputtext {
  font-size: 14px;
}

.p-multiselect {
  font-size: 14px;
}

.p-dialog-header {
  padding-bottom: 0;
}

.p-select-label.p-placeholder {
  font-size: 14px;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 92vh;
  overflow: hidden;
}

.main-table-wrapper {
  flex: 1 1 auto;
  display: flex;
}
