.label {
  grid-column: 2;
  text-align: center;
}

.value {
  grid-column: 3;
  justify-self: start;
  white-space: nowrap;
  padding-left: 8px;
}

.yellow {
  .p-progressbar-value {
    background-color: yellow;
  }
}

.lime {
  .p-progressbar-value {
    background-color: lime;
  }
}

.orange {
  .p-progressbar-value {
    background-color: orange;
  }
}

.red {
  .p-progressbar-value {
    background-color: red;
  }
}

.fast-animation-progressbar .p-progressbar-value {
  transition: width 0.5s ease-in-out !important; /* Adjust duration to 0.2s */
}

.progress-container {
  position: relative;
}

.thresholds {
  position: absolute;
  top: -20px; // Move labels above the progressbar
  left: 0;
  width: 100%;
  height: 20px;
  pointer-events: none;
}

.threshold-container {
  position: absolute;
  display: flex;
  justify-content: center;
  transform: translateX(-50%); // center the label
}

.threshold-label {
  display: flex;
  gap: 8px;
  font-size: 14px;
  padding: 0 4px;
  border-radius: 4px;
  pointer-events: auto;
  white-space: nowrap;
}

@media (max-width:800px) {
  .threshold-name{
    display: none;
  }
}

.threshold-markers {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.threshold-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: black;
  pointer-events: auto;
}
