.difficulty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 80px;
}

.difficulty-label{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.p-progressbar-label {
    display: none !important;
}

.yellow {
    .p-progressbar-value {
        background-color: yellow;
    }
}

.lime {
    .p-progressbar-value {
        background-color: lime;
    }
}

.orange {
    .p-progressbar-value {
        background-color: orange;
    }
}

.red {
    .p-progressbar-value {
        background-color: red;
    }
}
